<div class="container">
	<div class="header">
		<div class="clr"></div>
	</div>
	<div class="sp-container">
		<div class="sp-content">
			<div class="sp-wrap sp-left">
				<h2>
					<span class="sp-top">Focused</span>
					<span class="sp-mid">Creative </span>
					<span class="sp-bottom">Motivated</span>
				</h2>
			</div>
			<div class="sp-wrap sp-right">
				<h2>
					<span class="sp-top">Driven</span>
					<span class="sp-mid">Solutions</span>
					<span class="sp-bottom">Results</span>
				</h2>
			</div>
		</div>
		<div class="sp-full">
			<h2>Come On In and Take a look around</h2>
			<a href="home.html">ENTER</a>
		</div>
	</div>
</div>