div>
<div class="home-container-inner">
	<video autoplay  poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" loop>
		<!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
		<source src="http://demosthenes.info/assets/videos/polina.webm" type="video/webm">
		<source src="http://demosthenes.info/assets/videos/polina.webm" type="video/mp4">
	</video>
	<div id="polina">
		<div class="home-nav-links"><a ui-sref="home.portfolio">Portfolio</a></div>
		<div class="home-nav-links"><a ui-sref="about">About</a></div>
		<div class="home-nav-links" ><a ui-sref="social">Social</a></div>
		<div class="home-nav-links"><a ui-sref="chat">Chat</a></div>
		<div class="home-nav-links"><a ui-sref="blog">Blog</a></div>
		<div class="home-nav-links"><a ui-sref="contact">Contact</a></div>
	</div>
	<div ui-view>
	<div class="home-intro-title">
		<h2> "Greatness Is A lot Of</h2>
		<h2> Small Things Done Well"</h2>
	</div>
</div>
</div>
</div><!-- /container -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/jquery.lettering.js"></script>
<script>
	$(document).ready(function() {
		$("#os-phrases > h2").lettering('words').children("span").lettering().children("span").lettering();
	})
</script>