<div class='teaser' id="homepage">
        <div class="trame"></div>
    <div class="landing-navigation-container">
        <div role='navigation'>

                <div class="navbar-label label1">
                    <a ui-sref-active="activeState" ui-sref="home.portfolio">Portfolio</a>
                </div>
                <div class="navbar-label label2">
                    <a ui-sref-active="activeState" ui-sref="home.about" >About me</a>
                </div>
                <div class="navbar-label label3">
                    <a ui-sref-active="activeState" ui-sref="home.social" >Social</a>
                </div>
                <div class="navbar-label label4">
                    <a ui-sref-active="activeState" ui-sref="home.contact">Contact</a>
                </div>

        </div>
    </div>
    <div class="splash">
        <h2 style="font-size: 120px; ">
            <span style="opacity: 1;">WEB DEVELOPER</span>
            <span class="second" style="opacity: 1;"><img src="../assets/css/img/Rectangle%201.png" alt="" style="width: 120px; display: inline-block; max-width: 111.6px;">UX DESIGNER</span>
        </h2>
    </div>
    </div>