<div class="container">
    <div class="header">
        <div class="clr"></div>
    </div>
    <div class="sp-container">
        <div class="sp-content">
            <div class="sp-wrap sp-left">
                <h2>
                    <span class="sp-top">Creative</span>
                    <span class="sp-mid">Ben </span>
                    <span class="sp-bottom">Motivated</span>
                </h2>
            </div>
            <div class="sp-wrap sp-right">
                <h2>
                    <span class="sp-top">Driven</span>
                    <span class="sp-mid">Callis</span>
                    <span class="sp-bottom">Results</span>
                </h2>
            </div>
        </div>
        <div class="sp-full">
            <h2>I Hope You Enjoy My Site</h2>
            <a ui-sref="home">ENTER</a>
        </div>
    </div>
</div>