<div class='teaser'>
    <header role='banner'>

        <nav role='navigation'>
            <ul>
                <li>
                    <a ui-sref-active="activeState" ui-sref="home.portfolio">Portfolio</a>
                </li>
                <li>
                    <a ui-sref-active="activeState" ui-sref="home.about" >About me</a>
                </li>
                <li>
                    <a ui-sref-active="activeState" ui-sref="home.social" >Social</a>
                </li>
                <li>
                    <a ui-sref-active="activeState" ui-sref="home.contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class='page'>
        <h1 style="font-size: 2em">
            <strong class='design-and-build' style="font-size: 2.75em">
                Brick by Brick
            </strong>
            Creating Awesome Products That Your Users Will Love
        </h1>

        <div class='actions'>
            <a class="button teaser-button" ui-sref="home">Enter</a>


        </div>
    </div>
</div>