<div ng-app="desafioApp" ng-controller="MainCtrl">
	<div class="container main-wrapper">
		<h1 class="text-center page-header">Responsive Dribble Showcase</h1>
		<div deckgrid class="deckgrid" source="shots">
			<div class="thumbnail">
				<div class="thumbnail-img-wrapper">
					<img class="thumbnail-img" ng-src="{{card.image_url}}" ng-click="showDetails = !showDetails">
					<div class="info-box">
						<p class="text-left">{{card.title}}</p>
						<p class="pull-right"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{card.views_count}}</p>
					</div>
					<a ng-show="showDetails" href="{{card.short_url}}" target="_blank" title="Look on Dribble.com" class="dribble-url"><span class="glyphicon glyphicon-new-window " aria-hidden="true"></span></a>
				</div>
				<div class="caption animate-show" ng-show="showDetails">
					<div class="author-info">
						<img ng-src="{{card.player.avatar_url}}" class="avatar img-circle">
						<h4>{{card.player.name}}</h4>
					</div>
					<p ng-bind-html="card.description"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="fixed-footer">
		<pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></pagination>
	</div>
</div>