<div class="portfolio-link-container">
    <div class="portfolio-nav-links react-img"  ui-sref-active="activeState"  ui-sref="home.portfolio.react"></div>
    <div class="portfolio-nav-links angular-img"  ui-sref-active="activeState" ui-sref="about"></div>
    <div class="portfolio-nav-links node-img"   ui-sref-active="activeState" ui-sref="social"></div>
    <div class="portfolio-nav-links mean-img"  ui-sref-active="activeState" ui-sref="chat"></div>
    <div class="portfolio-nav-links html5-img"  ui-sref-active="activeState"  ui-sref="blog"></div>
    <div class="portfolio-nav-links css3-img"  ui-sref-active="activeState"  ui-sref="contact"></div>
</div>