<div class="portfolio-main-container">

<div class="portfolio-link-container1">
    <div class="portfolio-nav-links portfolio-nav-links1 portfolio-link1"  ui-sref-active="activeState"  ui-sref="home.portfolio.react">
        <div class="portfolio-projects">
            <h2 style="opacity: .9;">Code</h2>
        </div>
    </div>
    <div class="portfolio-nav-links portfolio-nav-links1 portfolio-link2"  ui-sref-active="activeState" ui-sref="about">
        <div class="portfolio-projects">
            <h2 style="opacity: .7;">Projects</h2>
        </div>
    </div>
    <div class="portfolio-nav-links portfolio-nav-links1 portfolio-link3"   ui-sref-active="activeState" ui-sref="social">
        <div class="portfolio-projects">
            <h2>creative</h2>
        </div>
    </div>
</div>
    <div class="portfolio-link-container2">
        <div class="portfolio-link-container2-inner1">
            <div class="portfolio-nav-links portfolio-nav-links2-inner1 portfolio-link4"  ui-sref-active="activeState" ui-sref="chat">
                <div class="portfolio-projects">
                    <h2>inspiration</h2>
                </div>
            </div>
            <div class="portfolio-nav-links portfolio-nav-links2-inner1 portfolio-link5"  ui-sref-active="activeState"  ui-sref="blog">
                <div class="portfolio-projects">
                    <h2>enviroment</h2>
                </div>
            </div>
            <div class="portfolio-nav-links portfolio-nav-links2-inner1 portfolio-link6"  ui-sref-active="activeState"  ui-sref="contact">
                <div class="portfolio-projects">
                    <h2 style="opacity: .9;">Mentors</h2>
                </div>
            </div>
        </div>
        <div class="portfolio-link-container2-inner2">
            <div class="portfolio-nav-links portfolio-nav-links2-inner2 portfolio-link7"  ui-sref-active="activeState" ui-sref="chat">
                   <div class="portfolio-ui-ux">
                        <h1 style="opacity: .9;">UI/UX</h1>
                   </div>
            </div>
            <div class="portfolio-link-inner3">
                <div class="portfolio-nav-links portfolio-nav-links2-inner2 portfolio-link8"  ui-sref-active="activeState"  ui-sref="blog">
                    <div class="portfolio-projects">
                        <h2>Favorites</h2>
                    </div>
                </div>
                <div class="portfolio-nav-links portfolio-nav-links2-inner2 portfolio-link9"  ui-sref-active="activeState"  ui-sref="contact">
                    <div class="portfolio-projects">
                        <h2>Practice</h2>
                    </div>
                </div>
            </div>
            </div>

    </div>
</div>

