
    <div class="trame"></div>
    <div class="portfolio-navigation-container">
        <div role='portfolio-navigation'>
            <div class="navbar-label label5">
                <a ui-sref-active="activeState" ui-sref="landing">Home</a>
            </div>

            <div class="navbar-label label1">
                <a ui-sref-active="activeState" ui-sref="portfolio">Portfolio</a>
            </div>
            <div class="navbar-label label2">
                <a ui-sref-active="activeState" ui-sref="portfolio.about" >About me</a>
            </div>
            <div class="navbar-label label3">
                <a ui-sref-active="activeState" ui-sref="portfolio.social" >Social</a>
            </div>
            <div class="navbar-label label4">
                <a ui-sref-active="activeState" ui-sref="portfolio.contact">Contact</a>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="slideshow" id="slideshow">
            <ol class="slides">
                <li class="current slide1-container">
                    <div class="description">
                        <h2>Paul Mitchell</h2>
                        <p>My most recent project was a rebuild of the Paul Mitchell.EDU site, I really enjoyed working with the designers at Paul Mitchell </p>
                    </div>
                    <div class="tiltview col">
                        <a href="https://paulmitchell.edu/"><img src="../assets/css/img/portfolio1.jpg"/></a>
                        <a href="https://paulmitchell.edu/"><img src="../assets/css/img/portfolio2.jpg"/></a>
                    </div>
                </li>
                <li class="slide2-container">
                    <div class="description">
                        <h2>Volunteer Connection </h2>
                        <p>I am creating this <strong>website/app</strong> to help connect volunteers with people that need their help. Everything from the <strong>UI/UX</strong>,Design and Build was done by <strong>me</strong>, pretty stoked about this one!!</p>
                    </div>
                    <div class="tiltview row">
                        <a href="http://pexcil.com/"><img src="../assets/css/img/portfolio3.png"/></a>
                        <a href="http://foodsense.is/"><img src="../assets/css/img/portfolio4.png"/></a>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h2>ActionTrak</h2>
                        <p>Designed UI/UX for the point of sale interface and the admin dashboard, also contributed to the front end development </p>
                    </div>
                    <div class="tiltview col">
                        <a href="http://minimalmonkey.com/"><img src="../assets/css/img/portfolio5.png"/></a>
                        <a href="http://www.herschelsupply.com/"><img src="../assets/css/img/6_screen.jpg"/></a>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h2>Fun Sketch Projects</h2>
                        <p>Redesigned several apps for fun using sketch3 and a little photoshop. </p>
                    </div>
                    <div class="tiltview row">
                        <a href="http://grovemade.com/"><img src="../assets/css/img/1_mobile.jpg"/></a>
                        <a href="https://tsovet.com/"><img src="../assets/css/img/2_mobile.jpg"/></a>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h2>Mobile First Design</h2>
                        <p>Created these app layout ideas using material design and flat ui.  </p>
                    </div>
                    <div class="tiltview col">
                        <a href="http://pexcil.com/"><img src="../assets/css/img/3_screen.jpg"/></a>
                        <a href="http://foodsense.is/"><img src="../assets/css/img/4_screen.jpg"/></a>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <h2>My Skills</h2>
                        <p>REACT,Angular,Javascript,HTML5,<br>CSS3,Mongo,Node,Sketch,Photoshop</p>
                    </div>
                    <div class="tiltview row">
                        <a href="http://minimalmonkey.com/"><img src="../assets/css/img/5_mobile.jpg"/></a>
                        <a href="http://www.herschelsupply.com/"><img src="../assets/css/img/6_mobile.jpg"/></a>
                    </div>
                </li>
            </ol>
        </div><!-- /slideshow -->

    </div><!-- /container -->
    <script>
        new TiltSlider( document.getElementById( 'slideshow' ) );
    </script>