<div class="social-main-container">
    <div class="home-container">
        <div class="home-container-inner">
            <div class="live-feed-container">
                <div class="live-feed-inner-container">
                    <header class="social-header">Twitter</header>
                    <div class="live-feed-content">
                        <div class="tweets" key="authKey" hashtag="hashtag" button="true" count="15" refresh="60"/></div>
                    </div>

                </div>

                <div class="live-feed-inner-container">
                    <header class="social-header">Instagram</header>
                    <div class="live-feed-content"></div>

                </div>
            </div>
            <slick  init-onload=true data="awesomeThings" class="slider multiple-items">
                <div class="my-image-slider">{{card.image_url}}</div>
                <div class="my-image-slider"></div>
                <div class="my-image-slider"></div>
                <div class="my-image-slider"></div>
                <div class="my-image-slider"></div>
                <div class="my-image-slider"></div>
                <div class="my-image-slider"></div>
                <div class="my-image-slider"></div>
                <div class="my-image-slider"></div>
            </slick>


        </div>
        <!-- /container -->
        <script>
        $('.multiple-items').slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 4,
            autoplay:true
        });
        </script>


