

    <slick  init-onload=true data="awesomeThings" class="slider multiple-items">
        <div class="UXUI-image-slider uiux1">
            <h1>Step #1 </h1>
            <h2>What?</h2>
            <h2>Why?</h2>
            <h2>Who?</h2>
            <h2>Where?</h2>

        </div>
        <div class="UXUI-image-slider uiux2">
            <h1>Step #2 </h1>
            <h2>Set goals</h2>

        </div>
        <div class="UXUI-image-slider uiux3">3</div>
        <div class="UXUI-image-slider uiux4">4</div>
        <div class="UXUI-image-slider uiux5">5</div>
        <div class="UXUI-image-slider uiux6">6</div>
        <div class="UXUI-image-slider uiux7">7</div>
        <div class="UXUI-image-slider uiux8">8</div>
        <div class="UXUI-image-slider uiux9">9</div>
    </slick>



<div class="slider-arrows">
    <a class="slider-arrow slider-arrow--right  " data-distance="1"></a>
    <a class="slider-arrow slider-arrow--left  " data-distance="-1"></a>
</div>






<!-- /container -->
<script>
    $('.multiple-items').slick({
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay:true,
        prevArrow:'.slider-arrow--left',
        nextArrow:'.slider-arrow--right'
    });
</script>
