* { Box-sizing: Border-box }

body {
    margin: 0;
    background: #000;
}
a {

    color: #fff;
    text-decoration: none;
    padding: .5rem;
    transition: .6s background;
}
a:hover{
    background:rgba(0,0,0,0.9);
}
.home-container {
    display: flex;
    flex-direction: column;
}
.home-container-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    opacity: .6;
}

#polina {
    display: flex;
    justify-content: space-around;
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight:100;
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 2rem;
    width: 100%;
    font-size: 1.2rem;
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .3rem;
}
.home-nav-links {
    text-align: center;
    width: 16%;
    padding: .8rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgba(255,255,255,0.23);
    color: #fff;
    cursor: pointer;
    transition: .3s background;
}
.home-nav-links:hover {
    background: #453F76;
}



.live-feed-container {
    display: flex;
    justify-content: space-around;
    height: 50vh;
    overflow: hidden;
}
.live-feed-inner-container {
    width:40%;
    font-size: 1.3rem;
    color: #fff;
    padding-top: 1em;
    text-align: center;
    margin-top: 2em;
    background: rgba(0,0,0,0.3);

}
.image-carousel-container {
    width: 100%;
    position: relative;
    bottom: -2%;
    display: flex;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.home-intro-title {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.home-intro-title h2 {
    font-family: 'Dosis', 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 200;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 6px;
    text-align: center;
}
.activeState {
    background: #38B1C3;
}
/*PORTFOLIO PORTFOLIO PORTFOLIO*/
.portfolio-main-container {
    display: flex;
    position: fixed;
    width: 100%;
    background:lightgray;
}
.portfolio-nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    transition: .3s background;
    text-align: center;
    font-size: 1.3rem;
}
.portfolio-link-container1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:30%;
}

.portfolio-nav-links1 {
    width:100%;
    height:27vh;


}

.portfolio-link1 {
    background:
        linear-gradient(
            rgba(47, 200, 170,0.45),
            rgba(47, 200, 170,0.45)
    ), url('../../assets/css/img/starTree.jpg');
    background-size: cover;
    background-repeat: no-repeat;



}
.portfolio-link2 {
    background:
    linear-gradient(
            rgba(196,122,75,0.75),
            rgba(196,122,75,0.75)
    ),
    url('../../assets/css/img/treeDay.jpg');
    background-size: cover;
    background-repeat: no-repeat;



}
.portfolio-link3 {
    background:
    linear-gradient(
            rgba(91, 76, 133,0.65),
            rgba(91, 76, 133,0.65)
    ),
    url('../../assets/css/img/starsMount1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

}
.portfolio-link-container2 {
    display: flex;
    flex-direction: column;
    width:100%;

}
.portfolio-link-container2-inner1 {
    display: flex;
    height:32vh;


}
.portfolio-nav-links2-inner1  {
    height: 32vh;
    width:33.33%;




}
.portfolio-link4 {
    background:
    linear-gradient(
            rgba(253, 144, 175,0.65),
            rgba(253, 144, 175,0.65)
    ),
    url('../../assets/css/img/starsMount2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;


}
.portfolio-link5 {
    background:
    linear-gradient(
            rgba(161, 174, 225,0.65),
            rgba(161, 174, 225,0.65)
    ),
    url('../../assets/css/img/starsMount3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;


}
.portfolio-link6 {
    background:
    linear-gradient(
            rgba(34,117,119,0.65),
            rgba(34,117,119,0.65)
    ),
    url('../../assets/css/img/night-stars.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.portfolio-link-container2-inner2 {
    display: flex;
    flex-direction: row;
    width:100%;
}
.portfolio-link7 {
    width:60%;
    height: 44vh;
    background:
    linear-gradient(
            rgba(0, 202, 204,0.65),
            rgba(0, 202, 204,0.65)
    ), url('../../assets/css/img/mountains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.portfolio-link8 {
    display: flex;
    width:100%;
    height:22vh;
    background:
    linear-gradient(
            rgba(255,246,123,.45),
            rgba(255,246,123,.45)
    ),
    url('../../assets/css/img/nightTree.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.portfolio-link9 {
    display: flex;
    width:100%;
    height:22vh;
    background:
    linear-gradient(
            rgba(119,69,22,0.65),
            rgba(119,69,22,0.65)
    ),
    url('../../assets/css/img/night-stars.jpg');

}
.portfolio-link-inner3 {
    display: flex;
    width: 40%;
    height: 70vh;
    flex-direction: column;


}

.portfolio-ui-ux h1 {
    opacity: .6;
}

.portfolio-ui-ux-content h2 {
    margin: 0.67em 0;
    font-size: 2rem;
    text-transform: uppercase;
}


.portfolio-projects h2 {
    margin: 0.67em 0;
    font-size: 2rem;
    text-transform: uppercase;
    opacity: .6;

}
.about-main-container {
    display: flex;
    flex-direction: column;
    height:90vh;
    background:
    linear-gradient(
            rgba(0, 202, 204,0.65),
            rgba(0, 202, 204,0.65)
    ), url('../../assets/css/img/mountains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}