* { Box-sizing: Border-box }

body {
    margin: 0;
    background: #000;
}
a {

    color: #fff;
    text-decoration: none;
    padding: .5rem;
    transition: .6s background;
}
a:hover{
    background:rgba(0,0,0,0.9);
}
.home-container {
    display: flex;
    flex-direction: column;
}
.home-container-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    opacity: .6;
}

#polina {
    display: flex;
    justify-content: space-around;
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight:100;
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 2rem;
    width: 100%;
    font-size: 1.2rem;
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .3rem;
}
.home-nav-links {
    text-align: center;
    width: 16%;
    padding: .8rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgba(255,255,255,0.23);
    color: #fff;
    cursor: pointer;
    transition: .3s background;
}
.home-nav-links:hover {
    background: #453F76;
}



.live-feed-container {
    display: flex;
    justify-content: space-around;
    height: 50vh;
    overflow: hidden;
    text-align: center;


}
.live-feed-inner-container {
    width:40%;
    font-size: 1.3rem;
    color: #fff;

    text-align: center;
    margin-top: 2em;
    background: linear-gradient( rgba(91, 76, 133,0.65), rgba(91, 76, 133,0.65) ), url('../../assets/css/img/starsMount1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

}
.live-feed-content {

}
.social-header {
    width:100%;
    background: #000;
    height: 40px;
}
.image-carousel-container {
    width: 100%;
    position: relative;
    bottom: -2%;
    display: flex;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.home-intro-title {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.home-intro-title h2 {
    font-family: 'Dosis', 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 200;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 6px;
    text-align: center;
}
.activeState {
    background: #38B1C3;
}
/*PORTFOLIO PORTFOLIO PORTFOLIO*/
.portfolio-main-container {
    display: flex;
    position: fixed;
    width: 100%;
    background:lightgray;
}
.portfolio-nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    transition: .3s background;
    text-align: center;
    font-size: 1.3rem;
}
.portfolio-link-container1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:30%;
}

.portfolio-nav-links1 {
    width:100%;
    height:27vh;


}

.portfolio-link1 {
    background:
        linear-gradient(
            rgba(47, 200, 170,0.45),
            rgba(47, 200, 170,0.45)
    ), url('../../assets/css/img/starTree.jpg');
    background-size: cover;
    background-repeat: no-repeat;



}
.portfolio-link2 {
    background:
    linear-gradient(
            rgba(196,122,75,0.75),
            rgba(196,122,75,0.75)
    ),
    url('../../assets/css/img/treeDay.jpg');
    background-size: cover;
    background-repeat: no-repeat;



}
.portfolio-link3 {
    background:
    linear-gradient(
            rgba(91, 76, 133,0.65),
            rgba(91, 76, 133,0.65)
    ),
    url('../../assets/css/img/starsMount1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

}
.portfolio-link-container2 {
    display: flex;
    flex-direction: column;
    width:100%;

}
.portfolio-link-container2-inner1 {
    display: flex;
    height:32vh;


}
.portfolio-nav-links2-inner1  {
    height: 32vh;
    width:33.33%;




}
.portfolio-link4 {
    background:
    linear-gradient(
            rgba(253, 144, 175,0.65),
            rgba(253, 144, 175,0.65)
    ),
    url('../../assets/css/img/starsMount2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;


}
.portfolio-link5 {
    background:
    linear-gradient(
            rgba(161, 174, 225,0.65),
            rgba(161, 174, 225,0.65)
    ),
    url('../../assets/css/img/starsMount3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;


}
.portfolio-link6 {
    background:
    linear-gradient(
            rgba(34,117,119,0.65),
            rgba(34,117,119,0.65)
    ),
    url('../../assets/css/img/night-stars.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.portfolio-link-container2-inner2 {
    display: flex;
    flex-direction: row;
    width:100%;
}
.portfolio-link7 {
    width:60%;
    height: 44vh;
    background:
    linear-gradient(
            rgba(0, 202, 204,0.65),
            rgba(0, 202, 204,0.65)
    ), url('../../assets/css/img/mountains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.portfolio-link8 {
    display: flex;
    width:100%;
    height:22vh;
    background:
    linear-gradient(
            rgba(255,246,123,.45),
            rgba(255,246,123,.45)
    ),
    url('../../assets/css/img/nightTree.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.portfolio-link9 {
    display: flex;
    width:100%;
    height:22vh;
    background:
    linear-gradient(
            rgba(119,69,22,0.65),
            rgba(119,69,22,0.65)
    ),
    url('../../assets/css/img/night-stars.jpg');

}
.portfolio-link-inner3 {
    display: flex;
    width: 40%;
    height: 70vh;
    flex-direction: column;


}

.portfolio-ui-ux h1 {
    opacity: .6;
}

.portfolio-ui-ux-content h2 {
    margin: 0.67em 0;
    font-size: 2rem;
    text-transform: uppercase;
}


.portfolio-projects h2 {
    margin: 0.67em 0;
    font-size: 2rem;
    text-transform: uppercase;
    opacity: .6;

}
.about-main-container {
    display: flex;
    flex-direction: column;
    height:90vh;
    background:
    linear-gradient(
            rgba(0, 202, 204,0.65),
            rgba(0, 202, 204,0.65)
    ), url('../../assets/css/img/mountains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.my-image-slider {

    height:150px;
    background: white;
    margin-left: 10px;
}
/*
.slider {
    display: flex;
    justify-content: space-around;
}
*/
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/*UIUX UIUX UIUX UIUX UIUX UIUX UIUX*/
.UIUX-main-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    z-index: 0;
    position: relative;


}

.UXUI-image-slider {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    color:white;
    width: 50%;
    height: 70vh;
    background-size: cover;
    z-index: 0;
    position: relative;

}
.page_05 {
    display: flex;
    width:100%;
}


.slider-arrow{position:absolute;display:block;margin-bottom:-20px;z-index:10;padding:20px}
.slider-arrow--right{background:url("http://leodrapeau.com/assets/svg/arrow_to_right.svg") no-repeat;opacity:0.4;width:42px;height:42px;background-position:center center;background-color:rgba(0,0,0,0);border-radius:1000px;top:40%;right:60px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.slider-arrow--left{background:url("http://leodrapeau.com/assets/svg/arrow_to_left.svg") no-repeat;opacity:0.4;width:42px;height:42px;background-position:center center;background-color:rgba(0,0,0,0);border-radius:1000px;top:40%;left:60px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.slider-nav{position:absolute;bottom:30px;background-color:none;z-index:0;opacity:1;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.slider-arrow--right:hover,.slider-arrow--left:hover{opacity:1;background-color:rgba(0,0,0,0.2)}

.slide {
    display: flex;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    height:55vh;
    background: green;
    color: #000;
}
.slide header {
    height:40px;
    background-color: #fff;
    width:100%;
    text-align: center;
    color:#00aced;
    font-size: 35px;
}
.page_05_slide_01 {
    width: 100%;
    background: url("http://infiniterewrite.com/wp-content/uploads/2013/05/01_nm_UX_Master-Wireframe_Final.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.browser_top{
background:lightgray;
display: flex;
width: 100%;
height: 50px;
position: relative;

z-index: 3;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
margin: auto;
}
p.browser_title{font-family:'Open Sans', Helvetica, Arial, sans-serif;color:#fff;font-size:12px;font-weight:300;text-align:center;padding-top:11px;margin:auto}
.browser_top_red{width:10px;height:10px;background-color:#f67070;position:absolute;border-radius:100px;top:15px;left:14px}
.browser_top_yellow{width:10px;height:10px;background-color:#ede178;position:absolute;border-radius:100px;top:15px;left:31px}
.browser_top_green{width:10px;height:10px;background-color:#b7e67d;position:absolute;border-radius:100px;top:15px;left:48px}
.browser_link{font-family:'Open Sans', Helvetica, Arial, sans-serif;color:#fff;font-size:11px;font-weight:400;text-align:center;position:absolute;right:8px;top:7px;text-decoration:none;border:1px solid rgba(255,255,255,0.2);border-radius:2px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;background-color:rgba(215,164,98,0);padding:4px 18px 5px}

.uiux1 {
    background:
    linear-gradient(
            rgba(255,255,255,0.6),
            rgba(255,255,255,0.6)
    ), url('http://wallpapers111.com/wp-content/uploads/2015/01/Question-Mark-HD-Wallpaper16.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    text-align: center;
    font-size: 35px;

}
. uiux1 h2 {


}
.uiux2 {
    background:
    linear-gradient(
            rgba(47, 200, 170,0.45),
            rgba(47, 200, 170,0.45)
    ), url('http://www.spring.org.uk/images/goals.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 35px;

}