@font-face{font-family:'FontAwesome';src:url('fonts/fontawesome-webfont-v=3.2.1.eot');src:url('fonts/fontawesome-webfont-.eot#iefix&v=3.2.1') format('embedded-opentype'),
url('fonts/fontawesome-webfont-v=3.2.1.woff') format('woff'),
url('fonts/fontawesome-webfont-v=3.2.1.ttf') format('truetype'),
url('fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
    font-weight:normal;
    font-style:normal
}
@font-face{font-family:'nexa_boldregular';src:url('../font/nexa_bold-webfont.eot');src:url('fonts/nexa_bold-webfont-.eot#iefix') format('embedded-opentype'),
url('fonts/nexa_bold-webfont.woff') format('woff'),
url('fonts/nexa_bold-webfont.ttf') format('truetype'),
url('fonts/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight:normal;
    font-style:normal
}
@font-face{font-family:'nexa_lightregular';src:url('../font/nexa_light-webfont.eot');src:url('fonts/nexa_light-webfont-.eot#iefix') format('embedded-opentype'),
url('fonts/nexa_light-webfont.woff') format('woff'),
url('fonts/nexa_light-webfont.ttf') format('truetype'),
url('fonts/nexa_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight:normal;
    font-style:normal
}


.animated,
.teaser .page h1,
.teaser .actions {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s
}
.animated.hinge,
.teaser .page h1.hinge,
.teaser .hinge.actions {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}
@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}
@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0)
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
.fadeInUp,
.teaser .page h1,
.teaser .actions {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp
}


.amp {
    font-family: "garvis-pro", serif;
    font-style: italic;
    font-weight: 400
}
small {
    color: #ddd;
    font-style: italic;
    font-size: .5em
}
a {
    -webkit-transition: color .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: color .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: color .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: color .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    text-decoration: none;
    color: #f89820
}

.section-header,
.dribbble header,
.about header,
.contact-me header,
.work header {
    text-align: center;
    padding: 100px 0 50px
}
.section-header h2,
.dribbble header h2,
.about header h2,
.contact-me header h2,
.work header h2 {
    font-size: 1.25em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #5e6f92;
    margin: 0
}
.page {
    *zoom: 1;
    max-width: 59em;
    _width: 59em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto
}
.page:after {
    content: "";
    display: table;
    clear: both
}
@font-face{font-family:"icons";src:url('../fonts/icons.eot');src:url('../fonts/icons-.eot#iefix') format('eot'),

}
.navbar-label {
    width: 15%;
    display: flex;
    box-sizing: border-box;
}
.navbar-label a {
    position: absolute;
}
[role=navigation] {
    margin-top: 3%;
    display: flex;
    justify-content: flex-end;
    height:10%;
    width: 100%;
}
.label1 {
width: 16.6%;
}
.label2 {
    padding-left: 2px;
}
.label3 {
padding-left: 14px;
}
.label4 {

}

[role=navigation] li {
    display: flex;
    padding: 0 15px 40px;
    border-bottom: 1px solid #364054
}
[role=navigation] a {
    -webkit-transition: color .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: color .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: color .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: color .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .075em
}

.teaser {
    display: flex;
    flex-direction: column;
    color: #f2f2f2;
    background:  linear-gradient(
            rgba(14, 86, 181,0.1),
            rgba(14, 86, 181,0.1)
    ), url('img/likeABoss.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100vh;
    padding-left: 4%;
}
.landing-navigation-container {
    display: flex;
    padding-top: 10px;
    height:56%;
}
.splash {
    display: flex;
    padding-top: 10px;
    height:50%;


}
#homepage h2 {
    position: absolute;
    font-size: 8em;
    height: 204px;
    word-break: break-all;
    line-height: 0.85em;
    width: 100%;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}
#homepage .block {
    position: absolute;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
#homepage h3 {
    font-size: 1em;
    position: absolute;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
#homepage h3 .line {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}
#homepage .line {
    width: 43px;
    height: 4px;
    background: white;
    display: inline-block;
    margin: 4px 0;
    margin-right: 100px;
}
#homepage h2 span {
    float: left;
    width: 100%;
}
#homepage .top {
    top: 20%;
}
.homepage .middle {
    bottom: 20%;
}
h2 {
    font-family: nexa_boldregular;
    font-weight: normal;
    font-size: 2.8em;
    color: white;
    text-transform: uppercase;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    width: 100%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;

}
.trame {
    background:url("img/trame.png");
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

.sky, .cloud1, .cloud2, .vignette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}