
.portfolio-navigation-container {
    display: flex;
    padding-top: 10px;
    height: 45px;

}
[role=portfolio-navigation] {
    /* margin-top: 3%; */
    display: flex;
    justify-content: flex-end;

    width: 100%;
}
[role=portfolio-navigation] {

    display: flex;
    justify-content: flex-end;
    height:10%;
    width: 100%;
}

[role=portfolio-navigation] li {
    display: flex;
    padding: 0 15px 40px;
    border-bottom: 1px solid #364054
}
[role=portfolio-navigation] a {
    -webkit-transition: color .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: color .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: color .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: color .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .075em
}
.slideshow{
    width:100%;

}
