
<div class="jumbotron text-center">
	<h1>Hello </h1>

	<div ng-if="!main.loggedIn">
		<p>Share a little light in a dark world</p>
		<a href="/login" class="btn btn-primary">Login</a>
		<a href="/create" class="btn btn-primary">Register</a>
	</div>
	

	<div ng-if="main.loggedIn">
		<p>Create A New Post.</p>
		<a href="/users" class="btn btn-primary">View Users</a>
	</div>
</div>
<div class="jumbotron text-center" ng-controller="postController as post">
	<h1> Trending Posts</h1>
	<span>{{post.test}}</span>
		<div ng-repeat="post in vm.posts">
			<span style="font-size:20px; margin-left:10px;">
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
        <span>
        <a href="#/posts/{{post._id}}">Comments</a>
      </span>
    </div>
    <form ng-submit="addPost()"
      style="margin-top:30px;">
      <h3>Add a new post</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Title"
        ng-model="title"></input>
      </div>
      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Link"
        ng-model="link"></input>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
		
		
		
	</div>
	
	</div>